<div fxLayout="column" fxLayoutAlign="center center" class="login">
  <div fxLayoutAlign="center center" fxLayout="column">
    <mat-icon class="car">directions_car</mat-icon>
    <h2>HopIn</h2>
  </div>
  <mat-card>
    <mat-card-title>Sign-In</mat-card-title>
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput placeholder="Email or Username">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" routerLink="/dashboard">Submit</button>
    </mat-card-actions>
  </mat-card>
</div>
