<div fxLayout="column" fxLayoutGap="10px">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="avatar1"></div>
      <mat-card-title>BYU Students</mat-card-title>
      <mat-card-subtitle>203 Members</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Begin seleting your location and the time you are available. Then choose from a variety of drivers and passengers
      close by that you can catch a ride with.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Invite a Friend</button>
      <button mat-flat-button color="warn">Remove</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="avatar2"></div>
      <mat-card-title>Domo Employees</mat-card-title>
      <mat-card-subtitle>56 Members</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Begin seleting your location and the time you are available. Then choose from a variety of drivers and passengers
      close by that you can catch a ride with.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Invite a Friend</button>
      <button mat-flat-button color="warn">Remove</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="avatar3"></div>
      <mat-card-title>Sego Lily Parents</mat-card-title>
      <mat-card-subtitle>42 Members</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Begin seleting your location and the time you are available. Then choose from a variety of drivers and passengers
      close by that you can catch a ride with.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Invite a Friend</button>
      <button mat-flat-button color="warn">Remove</button>
    </mat-card-actions>
  </mat-card>
</div>
