<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <div>
      <div fxLayout="row" fxLayoutAlign="space-around center" class="side-nav-header">
        <mat-icon routerLink="/dashboard" (click)="sidenav.toggle()">directions_car</mat-icon>
        <div>HopIn</div>
        <mat-icon routerLink="/create-group" (click)="sidenav.toggle()">group_add</mat-icon>
      </div>
      <div fxLayout="column">
        <button mat-button class="side-nav-button" *ngFor="let link of appService?.links" (click)="sidenav.toggle()"
          [routerLink]="link.link">
          <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <mat-icon>{{link.icon}}</mat-icon>
            <div>{{link.name}}</div>
          </div>
        </button>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="flex-start" class="side-nav-footer">
      <mat-icon routerLink="/profile" (click)="sidenav.toggle()">person</mat-icon>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-main" fxLayout="column" fxLayoutAlign="space-between">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-icon-button class="menu-button" (click)="sidenav.toggle()" *ngIf="router.url !== '/login'">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button class="add-button" routerLink="/add-ride" *ngIf="router.url === '/dashboard'">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div fxFlex fxLayout="column" class="main" id="main">
        <div class="content" fxFlex fxLayout="column">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
