<div fxLayout="column" class="create-group" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="list">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
      <mat-icon>view_module</mat-icon>
      <div>Sign in to another HopIn account</div>
    </div>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="list">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
      <mat-icon>person_add</mat-icon>
      <div>Join another carpool</div>
    </div>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="list">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
      <mat-icon>add</mat-icon>
      <div>Create a new carpool</div>
    </div>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>

</div>
